<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

</head>
<body>
    <form name="planets">
        <input name="planetId" placeholder="Введите 1,2,3">
        <button type="submit">Отправить</button>
    </form>

    <div class="planetInfo"></div>

    <script src="/javascripts/main_html.js"></script>
</body>
</html>